html {
  background-color: #fff5ea;
  color: #3f3c46;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

header {
  padding: 0 1.5rem;
}

main {
  flex-grow: 1;
  padding: 0 1.5rem;
}

footer {
  background-color: #3f3c46;
  color: #fff5ea;
  text-align: center;
  padding: 0 1.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-family: "Playfair Display", serif;
  font-size: 34px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.brand:visited {
  color: inherit;
  text-decoration: none;
}

.navlinks ul {
  display: flex;
  list-style: none; /* remove default bullets */
  margin: 0;
  padding: 0;
}

.navlinks li + li {
  margin-left: 1.5rem; /* spacing between links */
}

.navlinks a {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-decoration: none;
}

.navlinks a:visited {
  color: inherit;
  text-decoration: none;
}

.navlinks a:hover {
  text-decoration: underline;
}

h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

p {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  color: #e05438;
  text-decoration: underline;
}

.accent {
  color: #e05438;
}