body {
    background-color: rgb(44,62,80) !important;
}

/* PAGE CONTENT */

.content-header {
    color: white;
}

.content-header-description {
    width: 75% !important;
}

.project-img {
	filter: brightness(80%);
}

.badge {
	margin-left: 10px;
	margin-right: 5px;
}

img {
    object-fit: cover;
}

.index-card {
	top: 0px;
	box-shadow: none;
	transition: all 0.3s;
}

.index-card:hover {
	top: -5px;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.nav-link::after {
	content: "";
	display: block;
	margin: auto;
	height: 3px;
	width: 0;
	background: transparent;
	transition: all 0.3s;
}

.nav-link:hover::after {
	width: 100%;
	background: #18bc9c;
}

.navbar-brand::after {
	content: "";
	display: block;
	margin: auto;
	height: 3px;
	width: 0;
	background: transparent;
	transition: all 0.3s;
}

.navbar-brand:hover::after {
	width: 100%;
	background: white;
}

/* FOOTER */
.footer {
    color: white;
}

@media (min-width: 1200px) {
    /* PAGE CONTENT */
    .content-header-description {
        width: 50% !important;
    }
}
