<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Casey O'Neill</title>

    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.8/dist/cerulean/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <a href="/">Casey O'Neill<span>.</span></a>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about/">About Me</a></li>
          <li><a href="/resume/">Resume</a></li>
          <li><a href="/research/">Research</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>{{ title | default: "" }}</h1>
      {{ content }}
    </main>
    <footer>
      <p>Website by Casey O'Neill © 2025. Powered by <a href="https://www.11ty.dev">11ty</a> and <a href="https://bootswatch.com">Bootswatch</a>.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>
