html {
  background-color: #E05438;
  color: #3F3C46;
}

body {
  background-color: #FFF5EA;
  margin: 0;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}